@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html{
    height: 100%;
    margin:0;
    padding:0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu';
    scroll-behavior: smooth;
}
body{
    background-image: url("image/billy-huynh-W8KTS-mhFUE-unsplash.jpg");
    /* background-color: black; */
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* height:100%;
    width:100%; */
    width:100%;
    height:100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
/* body:after{
    content:' ';
    position: absolute;
    height:100%;
    width:100%;
    background-color: rgb(147, 145, 149);
    z-index: -1;
} */
section{
    display:flex;
}
.container{
    display: flex;
    /* justify-content: flex-start;
    align-items: flex-start; */
    justify-content: center;
    align-items: stretch;
    margin-left: 5%;
    margin-right:5%;
    width: 80vw;
    height: 100vh;
}
.side_bar{
    width: 30%;
    height: auto;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.profile_image{
    width: 100%;
    height: auto;   
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top:0px;
}
.profile_image img{
    width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
    display: block;
}
.profile_det p{
    text-align: center;
}
.typed_text{
    text-align: center;
    justify-content: center;
    display: block;
    align-items: center;
    /* display:flex;
    justify-content: center;
    align-items: center; */
}
.text{
    margin:10px 0
}
.profile_det h2{
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: flex;
    padding:10px 0;
    
}
.profile_det h2 span{
    font-weight: 400;
}

.social_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem;
}
.social_icon i{
    font-size: 1.5rem;
    width:40px;
    height:40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.social_icon i:hover{
    background-color: rgb(245, 106, 106);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.side_menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 50px;
    
    width:100%;
}
.side_menu li{
    width :100%;
    padding-left:5%;
    border-top: 1px solid rgb(246, 109, 164); 
    padding-top: 10px;
    padding-bottom: 10px;
    
    cursor: pointer;

}
.side_menu li a{
    font-size: 1.2rem;
    color: white;
    padding-left: 5px;
    
}
.side_menu li:hover a{
    color: rgb(245, 106, 106);
    transition: all 0.3s ease;
}
.side_menu li:hover i{
    color: rgb(245, 106, 106);
    transition: all 0.3s ease;
}

.download_btn{
    width:200px;
    height:45px;
    background-color:  rgb(25, 3, 3);
    border-radius: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    cursor: pointer;
    position: relative;
    

}
.download_btn i{
    font-size: 1 rem;
    width:30px;
    height:30px;
    border-radius: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color:  rgb(245, 106, 106);
    top:15%;
    left:5%;
    transition: .6s ease;
}
.download_btn a{
    color: white;
    font-size: 1rem;
    padding-left: 20%;
    transition: .6s ease;
}
.download_btn:hover i{
    left: 75%;
    
}
.download_btn:hover a{
    padding-right: 30%;
}
/* main section */

main{
    width:80%;
    height: auto;
    /* position: relative; */
    background-color: rgb(175, 172, 172);
    overflow-y:scroll;
}
main::-webkit-scrollbar{
    width:5px;
    background-color:transparent;
}
main::-webkit-scrollbar-thumb{
    background-color:tomato;
}
/*self section*/
.self{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top:0px;
    padding-left:20px;
    position:relative;
}
.content{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:12px;
    padding-top:25px;
    padding-bottom:0px;
}
.content h1{
    font-size: 7rem;
    line-height: 4.5rem;
    padding-top:30px;
    margin-top: 0;
    margin-bottom: 6px;
}
.intro{
    font-size: 1.2rem;
    color: rgb(80, 78, 78);
    font-weight: 200;
    margin-top: 10px;
}
.content h1 span{
    font-weight: 300;
    color: rgb(252, 250, 250);
    margin-top: 20px;
    
}
.self_text_wrapper{
    margin-top:20px;
    font-size: 1.5rem;
    color: rgb(246, 68, 68);
    font-weight: 400;
}

.self img{
    /* keep as fallback if other selector not present */
    width: 60%;
    height: auto;
    margin-right: 0;
}

/* place the image block to the right with 5% padding inside .self */
.self_img{
    width: 45%;
    display: flex;
    position : relative;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 5%;
    padding-top: 15%;
    box-sizing: border-box;
}
.self_img img{
    width: 100%;
    max-width: 480px;
    height: auto;
    object-fit: cover;
    transform: scale(1.3);
    transform-origin: center right;
    display: block;
}
.self_btns{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
button{
    width:150px;
    height:50px;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size:1.5rem;
    z-index: 1;
    overflow: hidden;
}

button:hover{
    background-color: rgb(245, 106, 106);
    color: white;
    transition: all 0.3s ease;
}

.skill h1{
    color:black;
    font-size: 5rem;
    padding-left: 2%;
}



.slide-track{ /* logo*/
    /* display: flex; */
    /* align-items: center; */
    overflow: hidden;
    white-space: nowrap;
    padding:20px 0;
    /* width : max-content; */

    /* padding-top: 120px; */
    /* position: relative; */
    /* padding-top:20px; */
    
}
.slide{ /* logo-slides */
    /* width: 150px;
    height: 100px;
    display: inline-block;
    /* justify-content: center; */
    /* align-items: center;
    animation: scroll 8 linear infinite;
    
    padding: 15px;
    padding-top:20px;
    margin: 0 30px; */ 
    display:inline-block;
    animation: scroll 8s linear infinite;
    
}
.slide img{
    width: 90px;
    height: 90px;
    margin-left: 120px;
    margin-right:20px;
    /* object-fit: contain; */
}
.slider {
    border-top: 2px solid ;
    border-bottom: 2px solid ;

}
@keyframes scroll {
    from{
        transform: translateX(0px);
        
    }
    to{
        transform: translateX(-100%);
    }
    
}

section{
    display:flex;
    justify-content: center ;
    align-items: center;
    width:100%;
    padding:5% 8%;
}
.about{
    flex-direction: column;
}
.headings {
    margin:20px 0;
    width: 100%;
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}
.headings h1{
    font-size: 4rem;
    color: black;
}
.headings :after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: tomato;
    display: block;
    top:100%;
    right:0;
    position: absolute;
}
.about p{
    margin-top:20px;
    font-size: 1.2rem;
    line-height: 2rem;
    color: rgb(80, 78, 78);
    font-weight: 300px;
}
.about p span{
    font-weight: 600;
    color: black;
}
.about_info{
    width:100%;
    display:flex;
    justify-content: flex-start;
    /* align-items: flex-start; */
    gap: 20px;
}

.Info {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;

}
.Info h2{
    font-size: 1.2rem;
    color: rgb(105, 101, 101);
    
}

.info_det {
    flex:1;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    gap: 10px;
}

.info_det h2 span{
    width: 50%;
    font-size: 1.2rem;
    color: black;
    /* margin-bottom: 10px; */
}

.info_det h2{
    font-size: 1.2rem;
    color: black;
    /* margin-bottom: 10px;
    padding:0px; */
}

.education_experience{
    display: flex;
    width: 100%;
    gap: 20px;
}

.education_cards, .experience_cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    margin-top: 40px;
    
}
.education_card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    position : relative;    
    padding-left:5%;
}
.education_card:after, .experience_card:after{
    content: '';
    width: 2px;
    height: 100%;
    background-color: tomato;
    top:0;
    left:0;
    position: absolute;
    z-index: 0;
}
.education_card :before, .experience_card :before{
    content: '';
    width: 20px;
    height: 20px;
    background-color: tomato;
    top:0;
    left:-3%;
    position: absolute;
    border-radius: 100%;
    border: 2px solid white;
    z-index: 1;
}
.education_card h2{
    font-size: 1.5rem;
    /* color: black; */
    font-weight:400;
}
.education_card h3{
    font-size: 1.2rem;
    color: rgb(5, 5, 5);
    font-weight: 500;
}
.education_card p{
    font-size: 1rem;
    color: rgb(77, 70, 70);
    font-weight: 400;
}
.education_card:hover h2{
    color: rgb(251, 58, 24);
}
.education_card:hover h2 span{
    color: rgb(251, 58, 24);
}
.education_card:hover h3{
    color: rgb(244, 238, 237);
}
.education_card:hover h3 a{
    color: rgb(244, 238, 237);
}
.education_card:hover p{
    color: rgb(247, 245, 245);
}
.education_card h2 span{
    font-weight: 500;
    color: white;
}
.education_card h3 a{
    font-weight: 500;
    color: rgb(5, 5, 5);
}

.projects{
    flex-direction: column;
}
.project_cards{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 20px;
    gap:20px;
}
.project_card{
    width: 100%;
    
}
.project_img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.project_card:hover .hide_project{
    opacity: 1;
    top:0;
}
.project_card h2{
    font-size: 1.5rem;
    font-weight: 400;
}
.project_card p{
    color: rgb(77, 70, 70);
}
.hide_project{
    position:absolute;
    width: 100%;
    top:100%;
    left:0;
    height: 100%;
    background-color: rgba(237, 64, 64, 0.121);
    display: flex;
    justify-self: center;
    align-items: center;  
    flex-direction: column;
    opacity: 0;
    transition: .6s;
    text-align: center;
}
.hide_project img{
    width: 50px;
    height: 50px;
}


.blogs{
    flex-direction: column;
}
.blog_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog_content{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap:5px;
}
/* .blog_content p{
    color
} */
.blog_img{
    border-radius:10px;
    position: relative; 
    overflow: hidden;
}
.blog_img:after{
    width: 100%;
    height: 100%;
    position:absolute;
    content:' ';
    top:100%;
    left:0;
    opacity: 0;
    background-color: rgba(224, 72, 72, 0.712);
    backdrop-filter: blur(2px);
}
.blog_box:hover .blog_img:after{
    opacity: 1;
    transition: .6s;
    top:0;
}


.contact{
    flex-direction: column;
}
.contact_head {
    width:100%;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.content_head h2{
    font-size: 2rem;
    color: rgb(80, 78, 78);
    font-weight: 300;
    margin-top: 10px;
}
.contact_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    margin-top: 20px;
}
.contact_content{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:10px;


}
.contact_box{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
}
.contact_box i{
    font-size: 3rem;
    color: rgb(240, 239, 239);
    width: 75px;
    height: 75px;
    background-color: rgba(202, 104, 104, 0.84);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_box p{
    font-size: 1.2rem;
    color: rgb(80, 78, 78);
    font-weight: 200;
}
.contact_box h2{
    font-size: 1.5rem;
    color: black;
    font-weight: 300;
}
.inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.inputs input{
    width: 100%;
    height:50px;
    border: none;
    outline:none;
    font-size:1.3rem;
    border-bottom: 2px solid rgb(186, 184, 184);

}
.inputs input::placeholder{
    color: rgb(173, 32, 60) !important;
}
.inputs input:active,
.inputs input:focus{
    border-bottom: 3px solid  rgb(245, 106, 106)
}
.submit_btn{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align:left;
    margin-top:3cqh;
}

