@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu';
}
body{
    background-image: url("image/billy-huynh-W8KTS-mhFUE-unsplash.jpg");
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    position: relative;
    z-index: 1;
}
body:after{
    content:' ';
    position: absolute;
    height:auto;
    width:100%;
    background-color: rgb(147, 145, 149);
    z-index: -1;
}
.container{
    display: flex;
    /* justify-content: flex-start;
    align-items: flex-start; */
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right:5%;
    width: 70vw;
    height: 100vh;
}
.side_bar{
    width: 30%;
    height: 100vh;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.profile_image{
    width: 100%;
    height: auto;   
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top:0px;
}
.profile_image img{
    width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
    display: block;
}
.profile_det p{
    text-align: center;
}
.typed_text{
    text-align: center;
    justify-content: center;
    display: block;
    align-items: center;
    /* display:flex;
    justify-content: center;
    align-items: center; */
}
.text{
    margin:10px 0
}
.profile_det h2{
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: flex;
    padding:10px 0;
    
}
.profile_det h2 span{
    font-weight: 400;
}

.social_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem;
}
.social_icon i{
    font-size: 1.5rem;
    width:40px;
    height:40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.social_icon i:hover{
    background-color: rgb(245, 106, 106);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.side_menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 50px;
    
    width:100%;
}
.side_menu li{
    width :100%;
    padding-left:5%;
    border-top: 1px solid rgb(246, 109, 164); 
    padding-top: 10px;
    padding-bottom: 10px;
    
    cursor: pointer;

}
.side_menu li a{
    font-size: 1.2rem;
    color: white;
    padding-left: 5px;
    
}
.side_menu li:hover a{
    color: rgb(245, 106, 106);
    transition: all 0.3s ease;
}
.side_menu li:hover i{
    color: rgb(245, 106, 106);
    transition: all 0.3s ease;
}

.download_btn{
    width:200px;
    height:45px;
    background-color:  rgb(25, 3, 3);
    border-radius: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    cursor: pointer;
    position: relative;
    

}
.download_btn i{
    font-size: 1 rem;
    width:30px;
    height:30px;
    border-radius: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color:  rgb(245, 106, 106);
    top:15%;
    left:5%;
    transition: .6s ease;
}
.download_btn a{
    color: white;
    font-size: 1rem;
    padding-left: 20%;
    transition: .6s ease;
}
.download_btn:hover i{
    left: 75%;
    
}
.download_btn:hover a{
    padding-right: 30%;
}
/* main section */

main{
    width:80%;
    height: 100vh;
    /* position: relative; */
    background-color: rgb(175, 172, 172);
    overflow-y:scroll;
}
main::-webkit-scrollbar{
    width:5px;
    background-color:transparent;
}
main::-webkit-scrollbar-thumb{
    background-color:tomato;
}
/*self section*/
.self{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top:50px;
    padding-left:20px;
    position:relative;
}
.content{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:12px;
    padding-top:50px;
}
.content h1{
    font-size: 7rem;
    line-height: 4.5rem;
    padding-top:30px;
    margin-top: 0;
    margin-bottom: 6px;
}
.intro{
    font-size: 1.2rem;
    color: rgb(80, 78, 78);
    font-weight: 200;
    margin-top: 10px;
}
.content h1 span{
    font-weight: 300;
    color: rgb(252, 250, 250);
    margin-top: 20px;
    
}
.self_text_wrapper{
    margin-top:20px;
    font-size: 1.5rem;
    color: rgb(246, 68, 68);
    font-weight: 400;
}

.self img{
    /* keep as fallback if other selector not present */
    width: 60%;
    height: auto;
    margin-right: 0;
}

/* place the image block to the right with 5% padding inside .self */
.self_img{
    width: 45%;
    display: flex;
    position : relative;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 5%;
    padding-top: 20%;
    box-sizing: border-box;
}
.self_img img{
    width: 100%;
    max-width: 480px;
    height: auto;
    object-fit: cover;
    transform: scale(1.3);
    transform-origin: center right;
    display: block;
}
.self_btns{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
button{
    width:150px;
    height:50px;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size:1.5rem;
    z-index: 1;
    overflow: hidden;
}

button:hover{
    background-color: rgb(245, 106, 106);
    color: white;
    transition: all 0.3s ease;
}

.head_text{
    color:black;
    font-size: 400;
    padding-left: 2%;
    padding-top: 20px;
}


.slider{
    height:50px;
    margin:auto;
    width:90%;
    display:grid;
    place-content:center;
    place-items:center;
    overflow:hidden;
    transform: translateY(30px);
}
.slide-track{
    display: flex;
    align-items: center;
    width: calc(150px * 16);
    animation: scroll 16s forwards infinite;
    /* padding-top: 120px; */
    position: relative;
    padding-top:20px;
    
}
.slide{
    width: 150px;
    height: 90px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 15px;
    padding-top:20px;
    margin: 0 30px;
}
.slide img{
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}
@keyframes scroll {
    0%{
        transform: translateX(0px);
        
    }
    100%{
        transform: translateX(calc(-150px *16));
    }
    
}

section{
    display:flex;
    justify-content: center ;
    align-items: center;
    width:100%;
    padding:5% 8%;
}
.about{
    flex-direction: column;
}
.headings {
    margin:20px 0;
    width: 100%;
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start;
}
.headings h1{
    font-size: 5rem;
    color: black;
}
.headings :after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: tomato;
    display: block;
    top:100%;
    right:0;
    position: absolute;
}
